# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configurations and tasks used when running
# and debugging the project from Visual Studio Code.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.packages
build/
node_modules/

# Android related
**/android/app/src/main/res/values/strings.xml
**/android/local.properties
**/android/key.properties
**/android/app/*.jks
**/android/app/*.keystore
**/android/app/*.google-services.json

# iOS related
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.podspec
**/ios/Pods/
**/ios/.generated/

# Environment files
*.env

